---
const { precio, rango, descripcion, width, buy } = Astro.props;
import i18next, { t } from 'i18next';
---

<div
    class=`bg-gradient-to-b from-[#0F122B] to-[#252C6D] w-full p-4 h-full border-2 border-[#9ED920] rounded flex flex-row justify-around gap-2 items-center`
>
    <img src={rango} alt="" class=`${width ?? 'w-52'}` />
    <div class="flex flex-col gap-6 w-5/12">
        <p class="text-white text-xl md:text-2xl uppercase font-bold w-full">
            {descripcion}
        </p>
        <p class="text-white text-xl md:text-2xl w-full">
            {precio ? precio + '$' : ''}
        </p>
        <a
            href="https://wa.me/message/U23XABBSRP2JC1"
            target="_blank"
            class="text-black font-semibold text-sm md:text-lg bg-[#9ED920] px-4 py-2 w-full md:w-max rounded-md hover:bg-blue-400 hover:-translate-y-1 transition-all capitalize"
            >{buy ? buy : t('home.hire')}</a>
    </div>
</div>
