<div id="accordion-collapse" data-accordion="collapse">
  <h2 id="accordion-collapse-heading-1">
    <button
      type="button"
      class="flex bg-[#0E112B] items-center justify-between w-full p-5 font-medium rtl:text-right border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
      data-accordion-target="#accordion-collapse-body-1"
      aria-expanded="true"
      aria-controls="accordion-collapse-body-1"
    >
      <span>¿Qué es el FC 24 BOOSTING?</span>
      <svg
        data-accordion-icon
        class="w-3 h-3 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"></path>
      </svg>
    </button>
  </h2>
  <div
    id="accordion-collapse-body-1"
    class="hidden"
    aria-labelledby="accordion-collapse-heading-1"
  >
    <div
      class="p-5 !bg-[#292C4B] border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900"
    >
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        Se refiere a la práctica de ceder tu cuenta a un pro player para que
        logre determinado objetivo/rango.
      </p>
      <p class="text-gray-500 dark:text-gray-400">
        El pro solo tendrá acceso a la cuenta durante el tiempo pactado, una vez
        completo el boosting el cliente es notificado para cambiar la contraseña
        de su cuenta y disfrutar de las recompensas!
      </p>
    </div>
  </div>
  <h2 id="accordion-collapse-heading-2">
    <button
      type="button"
      class="flex bg-[#0E112B] items-center justify-between w-full p-5 font-medium rtl:text-right border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
      data-accordion-target="#accordion-collapse-body-2"
      aria-expanded="false"
      aria-controls="accordion-collapse-body-2"
    >
      <span>¿Por qué ofrecen el servicio mas barato del mercado?</span>
      <svg
        data-accordion-icon
        class="w-3 h-3 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"></path>
      </svg>
    </button>
  </h2>
  <div
    id="accordion-collapse-body-2"
    class="hidden"
    aria-labelledby="accordion-collapse-heading-2"
  >
    <div
      class="p-5 bg-[#292C4B] border border-b-0 border-gray-200 dark:border-gray-700"
    >
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        Porque somos la única página creada por jugadores profesionales con mas
        de 4 años trabajando para los principales boosters europeos, que ahora
        puede ofrecer el mismo servicio al mejor precio.
      </p>
    </div>
  </div>
  <h2 id="accordion-collapse-heading-3">
    <button
      type="button"
      class="flex bg-[#0E112B] items-center justify-between w-full p-5 font-medium rtl:text-right border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
      data-accordion-target="#accordion-collapse-body-3"
      aria-expanded="false"
      aria-controls="accordion-collapse-body-3"
    >
      <span>¿Cuanto tiempo demoran en realizarlo?</span>
      <svg
        data-accordion-icon
        class="w-3 h-3 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"></path>
      </svg>
    </button>
  </h2>
  <div
    id="accordion-collapse-body-3"
    class="hidden"
    aria-labelledby="accordion-collapse-heading-3"
  >
    <div
      class="p-5 bg-[#292C4B] border border-t-0 border-gray-200 dark:border-gray-700"
    >
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        El tiempo depende del tipo de boosting y se pacta previo a la
        contratación.
      </p>
    </div>
  </div>
  <h2 id="accordion-collapse-heading-4">
    <button
      type="button"
      class="flex bg-[#0E112B] items-center justify-between w-full p-5 font-medium rtl:text-right border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
      data-accordion-target="#accordion-collapse-body-4"
      aria-expanded="false"
      aria-controls="accordion-collapse-body-4"
    >
      <span>¿Qué pasa si no consiguen el rango contratado?</span>
      <svg
        data-accordion-icon
        class="w-3 h-3 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"></path>
      </svg>
    </button>
  </h2>
  <div
    id="accordion-collapse-body-4"
    class="hidden"
    aria-labelledby="accordion-collapse-heading-4"
  >
    <div
      class="p-5 bg-[#292C4B] border border-t-0 border-gray-200 dark:border-gray-700"
    >
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        En caso de que el pro player no logre el rango contratado tiene 2
        opciones:
      </p>
      <ol class="ps-5 text-gray-500 list-decimal dark:text-gray-400">
        <li>
          Reembolso equivalente a la diferencia entre el rango contratado y el
          conseguido.
        </li>
        <li>Saldo a favor.</li>
      </ol>
    </div>
  </div>
  <h2 id="accordion-collapse-heading-5">
    <button
      type="button"
      class="flex items-center bg-[#0E112B] rounded-b-md justify-between w-full p-5 font-medium rtl:text-right border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
      data-accordion-target="#accordion-collapse-body-5"
      aria-expanded="false"
      aria-controls="accordion-collapse-body-5"
    >
      <span>¿Cómo funciona el coaching?</span>
      <svg
        data-accordion-icon
        class="w-3 h-3 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"></path>
      </svg>
    </button>
  </h2>
  <div
    id="accordion-collapse-body-5"
    class="hidden"
    aria-labelledby="accordion-collapse-heading-5"
  >
    <div
      class="p-5 bg-[#292C4B] border border-t-0 border-gray-200 dark:border-gray-700"
    >
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        El cliente transmite para que el coach vea su juego mientras conversan
        en Discord/Skype (o cualquier plataforma similar preferida por el
        cliente). El coach explicará los ángulos correctos, la toma de
        decisiones correcta en situaciones clave, movimientos de habilidad,
        mejoras tácticas, formaciones, trucos y mucho más desde sus propio
        conocimiento y forma de ver el juego, con las mejores respuestas a las
        preguntas del cliente.
      </p>
    </div>
  </div>
</div>

<script></script>
