---
import i18next, { t } from 'i18next';
---

<header
    style="background-position-x: 50%; background-position-y: 8%;"
    class="w-full h-[400px] md:h-[60vw] lg:h-[35vw] bg-no-repeat bg-cover bg-[url('/assets/bg-portada.png')] relative grid place-items-center border-b-8 border-[#9ED920]"
>
    <div class="bg-black/40 absolute top-0 w-full h-full"></div>
    <img
        src="./assets/logo ea fc 24.png"
        class="absolute right-0 top-0 object-cover w-40 sm:w-44 md:w-48"
        alt=""
    />
    <section
        class="z-10 flex flex-col items-left w-full sm:w-10/12 md:w-9/12 gap-3 2xl:gap-6"
    >
        <div class="flex flex-col items-start gap-2">
            <h1
                data-aos="fade-up"
                data-aos-delay="50"
                data-aos-duration="1000"
                class="text-white font-extrabold text-left text-2xl xl:text-4xl 2xl:text-6xl w-3/4"
            >
                {t('home.title-port')}
            </h1>
            <span
                data-aos="fade-up"
                data-aos-delay="50"
                data-aos-duration="1000"
                class="w-2/4 h-2 bg-[#9ED920]"></span>
            <p
                data-aos="fade-up"
                data-aos-delay="150"
                data-aos-duration="1000"
                class="text-white text-left text-lg xl:text-xl 2xl:text-3xl"
            >
                {t('home.price')}
            </p>
        </div>
        <!-- <div
      data-aos="fade-up"
      data-aos-delay="200"
      data-aos-duration="1000"
      class="flex flex-row gap-6 xl:gap-12 items-center"
    >
      <a
        href="https://wa.me/message/U23XABBSRP2JC1"
        target="_blank"
        class="bg-[#60D669] rounded-md text-white text-base sm:text-lg lg:text-2xl xl:text-3xl p-2 sm:p-3 flex flex-row items-center gap-2 w-full"
        >{t("home.contact")}
        <img class="w-8 sm:w-10" src="./assets/wsp.png" alt="" /></a
      >
      <a href="https://www.instagram.com/fifaboostinglatam/" target="_blank">
        <img class="w-12 sm:w-16" src="./assets/insta.png" />
      </a>
    </div> -->
        <img
            data-aos="fade-up"
            data-aos-delay="300"
            data-aos-duration="1000"
            class="w-72"
            src="./assets/logos-portf.png"
            alt=""
        />
    </section>
</header>
